@{
    ViewData["Title"] = "About";
}
<h1>About</h1>
&nbsp;
<p>This is an address book application with functions for viewing, editing, adding, and deleting contact information.</p>
<p>Author: Austin Norden</p>
<p>Technologies used: .NET Core 3.1, MVC with Razor, Entity Framework Core</p>
<p>Source code is availabe on <a href='https://github.com/norden598/Address-Book'>GitHub</a></p>
